@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Merienda+One&display=swap');
*{
    margin: 0;
    box-sizing:border-box ;
    font-family: 'Cormorant Upright', serif;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merienda One', cursive;
}

h1{
    font-size: 20px;
}

.footer__contact{
    color: white;
    font-size: 20px;
}

p{
    font-size: 25px;
}

a{
   color: black;
}

.a{
    color: white;
    font-size: 25px;
}

.fa-location-dot{
    color: black;
    margin-right:15px;
}

.fa-light{
    font-size: 40px;
}

.fa-brands{
    font-size: 30px;
}

.fa-solid{
    margin-right: 10px;
}

li{
    font-size: 25px;
}