.main__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 0 18px 0;
    background-color:$colour-secondary;
    font-size: 20px;
    box-shadow: inset 0 5px 17px 0px rgb(167, 135, 114);
}

main{
    background-color: $colour-secondary;
}

.main__presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    background-color: $colour-secondary;
    row-gap: 15px;
    text-align: center;
}

.contain__tessa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, $colour-secondary , $colour-primary );
    border-radius: 40px;
    margin-top: 10px;
    padding: 10px;
    width: 320px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

.Tessa{
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
}