
.header__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo{
    height: auto; width: 60px;
    margin:0 20px;
}
